/* Main font */


/* GothicNeo */

// regular
//@font-face {
  font-connect('GothicNeo', '/fonts/GothicNeo/GothicNeo', 'Regular');
//}

// light
//@font-face {
//  font-connect('GothicNeo', '/fonts/GothicNeo/GothicNeo', 'Light', 300);
//}

// thin
//@font-face {
//  font-connect('GothicNeo', '/fonts/GothicNeo/GothicNeo', 'Thin', 100);
//}

// SemiBold
//@font-face {
//  font-connect('GothicNeo', '/fonts/GothicNeo/GothicNeo', 'SemiBold', 600);
//}